{% extends 'base.html.twig' %}

{% block title %}Edit Event
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">

			<h1 class="display-5 mt-3 text-center">Edit Event</h1>


			{{ include('event/_form.html.twig', {'button_label': 'Save changes'}) }}


		</div>


		<div class="col-3"></div>
	</div>


{% endblock %}
